.jumbotron{
  border: black;
  text-align: center;
  margin-top: 40px;
  box-shadow: blue;
  border-radius: 25%;
  background-color: lightblue;
  color: blue;

}
.container{
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 60vh;
  background-size: cover;
}
.form-group{
width: 300px;
}

 .container form div label{
  color: whitesmoke;
  font-size: 27px;
  text-align: center;
  font-weight: bolder;
} 
body{
background:linear-gradient(45deg, black 50%,rgb(68, 32, 32) 50%);

}
.form-control select{
  text-align: center;}
button{
  margin-bottom: 100px;
  padding-top: 100px;
  border-radius: 95px;
}
.acedu{
  font-weight: bolder;
  color: whitesmoke;
  margin-top: 30px;

}
.span{
  float: right;
  list-style: linear-gradient(red,blue      );
  cursor: pointer;
  text-decoration: underline;
  color: whitesmoke;
}
span{
  color: whitesmoke;
  float: 34px;
}
a:hover{
  color: blue;
}
.img img{
  width: 50%;
}
.mytext{
  color: whitesmoke;
  
}
h5{
  font-size: 15px;

}
.mybt{
  color: whitesmoke;
  border-radius: 45px;
}
#mylargeimg{
  width: 500px;
}
h2{
  color: whitesmoke;
}
.mytex{
  float: right;
  margin-top: 34px;
  color: whitesmoke;
}

#mymediumImg{
  width: 450px;
}
.mytest{
  float: right;
  margin-top: 34px;
  color: whitesmoke;
}
.anchor{
  font-size: 30px;
  color: whitesmoke;
  cursor: pointer;
}
.myfooter{
  background-color: grey;
}
#mygallery{
width: 300px;
height: 370px;
}
#mybody{
  background:linear-gradient(45deg, black 50%,rgb(56, 51, 51) 50%);

}
